@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  margin: 0;
  /* background: #841515; */
  background: #fdf9f9 !important;
  color: #333;
  font-family: Rubik;
  font-size: 13.5px !important;
}

header {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  padding: 5px 25px;
  border-bottom: 1px solid #3a363617;
}

header span {
  margin-left: 15px;
}

header a{
  text-decoration: none;
  color: #333;
}

header a:hover{
  text-decoration: none;
}

.logo{
  width: 100px;
}

.user-hero{
  background-image: url(https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  padding: 30px 30px !important;
  margin-bottom: 45px;
}

.hero-title{
  font-size:50px !important;
  margin-bottom: 20px !important;
}

.article-title{
  margin-left: 12px;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}


.note h3{
  font-size: 20px;
  font-weight: 600;
}

.note {
  background: #ffffff;
  padding: 30px 15px;
  margin: 15px 15px;
  font-size: 13.5px;
  border-radius: 2px;
  background: #ffffff;
  border: 1px solid #3a363617;
}


/*Add note page*/

.form-container{
  margin-top: 50px;
}
.button{
  outline: none;
  border: none;
  padding:10px 30px;
  color: #eee;
  border-radius: 4px;
  background-color: rgb(45, 47, 172);
  margin-top: 12px;
}


.output{
  background: #ffffff;
  padding: 12px;
  margin-top: 40px;
  border: 1px solid #3a363617;
}